$wide-phone: 475px;
$tablet-width: 768px;
$desktop-width: 1280px;

@mixin wide-phone {
  @media (min-width: $wide-phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
