@use "./partials/typography" as *;
@use "./partials/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid green;
  font-size: 16px;
}

h2 {
  padding: 20px 0px;
  font-size: 24px;
  line-height: 22px;
  font-weight: 600;
  @include tablet {
    font-size: 36px;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  width: 100%;
  height: 6rem;
  @include tablet {
    flex-direction: row;
  }
  &__header {
    display: flex;
    max-width: 120px;
    margin: 0 auto;
    padding-top: 18px;
    @include tablet {
      padding-left: 40px;
      margin-right: 100px;
    }
  }
  &__list {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  &__list__item {
    width: 50%;
  }
  &__list__link {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
  }
}
.nav__list__link--bio {
  padding-bottom: 6px;
  border-bottom: 3px solid #ffffff;
  @include tablet {
    padding-bottom: 24px;
    margin-bottom: -24px;
  }
}

.nav__list li {
  list-style-type: none;
  color: inherit;
  width: 50%;
  padding-top: 20px;
  @include tablet {
    width: 10%;
  }
}

li a {
  text-decoration: none;
  color: #ffffff;
}

.hero {
  background-image: url(../Assets/Images/hero-bio.jpg);
  width: 100%;
  background-size: cover;
  background-position: cover;
  height: 60vw;
  position: relative;
  &__header {
    display: flex;
    color: #ffffff;
    position: absolute;
    top: 48%;
    padding-left: 20px;
    font-size: 24px;
    @include small-tablet {
      font-size: 36px;
    }
    @include tablet {
      font-size: 60px;
      padding-left: 40px;
    }
  }
}

p {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.about,
.gallery {
  padding: 0px 16px 0px 16px;
}

.about {
  @include tablet {
    padding-bottom: 32px;
  }
  &__img {
    width: 100%;
    background-size: cover;
    background-position: cover;
  }
  &__container {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__para {
    padding: 16px 0px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 18px;
    @include tablet {
      padding-bottom: 32px;
    }
  }
  &__header {
    font-weight: 700;
    @include tablet {
      font-size: 24px;
    }
  }
  &__bio {
    padding: 16px 0px;
  }
}

.bio-left {
  @include tablet {
    padding-left: 16px;
  }
}

.bio-right {
  @include tablet {
    padding-right: 16px;
  }
}

.bio__left,
.bio__right {
  @include tablet {
    width: 45%;
    font-size: 14px;
    line-height: 22px;
  }
}

.gallery {
  background-color: #fafafa;
  @include tablet {
    padding-bottom: 32px;
  }
  &__img__container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__img {
    width: 100%;
    background-size: cover;
    background-position: cover;
    padding-bottom: 16px;
    @include tablet {
      width: 33%;
      padding: 10px;
    }
  }
}

// rough styling for form //lots to fix/adjust
.comment {
  padding: 16px;
}
.test {
  display: flex;
}

.comment__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
}

.comment__img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 30px;
}

.comment__input {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 16px;
}

// need to style and perhaps adjust headers, may rename some elements to make scss easier, remember to look at mockups for focus attributes etc. to perfect styling

.comment__textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

.comment__box {
}

.pic-box-test {
}

.footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 13px;
  padding-top: 20px;
  @include desktop {
    padding-left: 64px;
  }
  h3 {
    padding-top: 20px;
  }
  a {
    font-size: 14px;
  }
  &__header {
    padding-left: 20px;
    padding-bottom: 0px;
  }
  &__nav {
    padding: 16px 20px;
    @include tablet {
      display: flex;
    }
  }
  &__nav__container {
    @include tablet {
      display: flex;
    }
  }
  &__logo__container {
    position: absolute;
    right: 0;
  }
  &__logo__top {
    display: none;
    @include tablet {
      display: block;
      padding-top: 20px;
      padding-right: 20px;
    }
  }
  &__nav__link {
    padding-right: 20px;
  }
  &__icon {
    height: 30px;
  }
  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0px;
    @include wide-phone {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      justify-content: flex-start;
    }
  }
  &__section__container {
    padding: 0px 20px;
  }
  &__section__para {
    padding: 16px 0px;
  }
  &__email {
    color: #ffffff;
    text-decoration: none;
  }
  &__copyright {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  &__logo__bottom {
    @include tablet {
      display: none;
    }
  }
  &__copyright__para {
    font-size: 11px;
    padding-top: 20px;
    @include midsize-phone {
      font-size: 13px;
    }
  }
}
