@use "./partials/typography" as *;
@use "./partials/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid green;
  font-size: 16px;
}

h2 {
  padding: 20px 0px;
  // initial setup for mobile
  font-size: 24px;
  line-height: 22px;
  font-weight: 600;
  // letter-spacing: 1px;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  width: 100%;
  height: 5rem;
  @include tablet {
    flex-direction: row;
    // height: 15vh;
  }
  &__header {
    display: flex;
    max-width: 120px;
    margin: 0 auto;
    padding-top: 18px;
    @include tablet {
      padding-left: 10px;
    }
  }
  &__list {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0;
    // @include tablet {
    //   width: 40%;
    // }
  }
  &__list__item {
    width: 50%;
  }
  &__list__link {
    // adjustments required
    font-size: 1rem;
    padding: 8px 48px;
  }
}
.nav__list__link--bio {
  padding-bottom: 0px;
  border-bottom: 3px solid #ffffff;
}

.nav__list li {
  list-style-type: none;
  color: inherit;
  width: 50%;
  padding-top: 20px;
  @include tablet {
    width: 10%;
  }
}

li a {
  text-decoration: none;
  color: #ffffff;
}
// the above  coincide and needs editing ---//

.hero {
  background-image: url(../Assets/Images/hero-bio.jpg);
  width: 100%;
  background-size: cover;
  background-position: cover;
  height: 60vw;
  position: relative;
  &__header {
    display: flex;
    color: #ffffff;
    position: absolute;
    top: 75px;
    padding-left: 20px;
    font-size: 24px;
  }
}

p {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.about,
.gallery {
  padding: 0px 16px 0px 16px;
}

.about {
  &__img {
    width: 100%;
    background-size: cover;
    background-position: cover;
  }
  &__container {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__para {
    padding: 16px 0px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 18px;
  }
  &__header {
    font-weight: 400;
    //fix me
  }
  // &__container {
  // }
  &__bio {
    padding: 16px 0px;
  }
}

.bio__left,
.bio__right {
  @include tablet {
    width: 47%;
    font-size: 14px;
    line-height: 22px;
  }
}

.gallery {
  background-color: #fafafa;
  &__img__container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__img {
    width: 100%;
    background-size: cover;
    background-position: cover;
    padding-bottom: 16px;
    @include tablet {
      width: 33%;
      padding: 10px;
    }
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 13px;
  padding-top: 20px;
  h3 {
    padding-top: 20px;
  }
  a {
    font-size: 13px;
  }
  &__header {
    padding-left: 20px;
    padding-bottom: 0px;
  }
  &__nav {
    padding: 16px 20px;
    @include tablet {
      display: flex;
    }
  }
  &__nav__container {
    @include tablet {
      display: flex;
    }
  }
  &__logo__container {
    position: absolute;
    right: 0;
  }
  &__logo__top {
    display: none;
    @include tablet {
      display: block;
      padding-top: 20px;
      padding-right: 20px;
      // fix me in edit
    }
  }
  &__nav__link {
    padding-right: 20px;
  }
  &__icon {
    height: 30px;
  }
  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0px;
    @include wide-phone {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: row;
    }
  }
  &__section__container {
    padding: 0px 20px;
  }
  &__section__para {
    padding: 16px 0px;
  }
  &__email {
    color: #ffffff;
    text-decoration: none;
  }
  &__copyright {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  &__logo__bottom {
    @include tablet {
      display: none;
    }
  }
  &__copyright__para {
    font-size: 11px;
    padding-top: 20px;
    @include midsize-phone {
      font-size: 13px;
    }
  }
}
