@use "./partials/typography" as *;
@use "./partials/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h2 {
  padding: 1.25rem 0rem;
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-weight: 600;
  @include tablet {
    font-size: 2.25rem;
    padding-top: 1.25rem;
    padding-bottom: 2rem;
  }
  @include desktop {
    padding-top: 2.25rem;
  }
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  width: 100%;
  height: 6rem;
  @include tablet {
    flex-direction: row;
  }
  &__header {
    display: flex;
    max-width: 120px;
    margin: 0 auto;
    padding-top: 1.125rem;
    @include tablet {
      padding-left: 2.5rem;
      margin-right: 6.25rem;
    }
  }
  &__list {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  &__list__item {
    width: 50%;
  }
  &__list__link {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 2.5rem;
  }
}
.nav__list__link--bio {
  padding-bottom: 0.375rem;
  border-bottom: 3px solid #ffffff;
  @include tablet {
    padding-bottom: 1.5rem;
    margin-bottom: -1.5rem;
  }
}

.nav__list__link--show {
  @include tablet {
    margin: 0rem 3rem;
  }
}

.nav__list li {
  list-style-type: none;
  color: inherit;
  width: 50%;
  padding-top: 1.25rem;
  @include tablet {
    width: 10%;
  }
}

li a {
  text-decoration: none;
  color: #ffffff;
}

.hero {
  background-image: url(../Assets/Images/hero-bio.jpg);
  width: 100%;
  background-size: cover;
  background-position: cover;
  height: 60vw;
  position: relative;
  &__header {
    display: flex;
    color: #ffffff;
    position: absolute;
    top: 48%;
    padding-left: 1.25rem;
    font-size: 1.5rem;
    @include small-tablet {
      font-size: 2.25rem;
    }
    @include tablet {
      font-size: 3.75rem;
      padding-left: 2.5rem;
    }
  }
}

p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.1px;
}

.about,
.gallery {
  padding: 0rem 1rem 0rem 1rem;
}

.about {
  &__container {
    @include tablet {
      padding: 1rem 3rem 2rem 3rem;
    }
    @include desktop {
      padding: 1rem 4rem 2rem 4rem;
    }
  }
  &__img {
    width: 100%;
    background-size: cover;
    background-position: cover;
  }
  &__container {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__para {
    padding: 1rem 0rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    @include tablet {
      padding-bottom: 2rem;
    }
  }
  &__header {
    @include small-tablet {
      padding-top: 1rem;
    }
    font-weight: 700;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__bio {
    padding: 1rem 0rem;
  }
}

.bio-left {
  @include tablet {
    padding-left: 1rem;
  }
}

.bio-right {
  @include tablet {
    padding-right: 1rem;
  }
}

.bio__left,
.bio__right {
  @include tablet {
    width: 45%;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.gallery {
  background-color: #fafafa;
  @include tablet {
    padding-bottom: 2rem;
  }
  &__img__container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__img {
    width: 100%;
    background-size: cover;
    background-position: cover;
    padding-bottom: 1rem;
    @include tablet {
      width: 33%;
      padding: 0.625rem;
    }
  }
}

.comment {
  padding: 0.75rem;
  @include desktop {
    padding: 0rem 5.25rem;
  }
}

.comment__header {
  padding-left: 0.25rem;
  padding-bottom: 0.125rem;
  @include small-tablet {
    padding-bottom: 1rem;
  }
  @include tablet {
    padding-left: 1rem;
  }
  @include desktop {
    padding-left: 0rem;
  }
}

.comment__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}

.comment__form__header {
  color: #afafaf;
  font-size: 0.75rem;
}

.comment__img {
  align-self: flex-start;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 1rem;
  @include tablet {
    width: 3rem;
    height: 3rem;
  }
}

.comment__section {
  @include tablet {
    padding: 2rem 2rem;
    margin: 0rem 3rem;
  }
  @include desktop {
    padding-right: 8.5rem;
  }
}

.comment__input {
  width: 100%;
  height: 2.25rem;
  border-radius: 0.25rem;
  border: 1px solid #323232;
  color: #323232;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  font-family: "AvenirNext LT Pro";
  font-size: 0.875rem;
}

.comment__textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #323232;
  border-radius: 4px;
  font-family: "AvenirNext LT Pro";
  margin-top: 4px;
  margin-bottom: 16px;
  color: #323232;
  font-size: 0.875rem;
}

.comment__button {
  color: #ffffff;
  background-color: #323232;
  border-radius: 4px;
  width: 100%;
  height: 2.5rem;
  font-size: 0.875rem;
  @include tablet {
    width: 35%;
    align-self: flex-end;
  }
}

.comment__button:hover {
  background-color: #000000;
  color: #ffffff;
}

.comment {
  padding-top: 1rem;
  &__container {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #e1e1e1;
    @include wide-phone {
      padding: 0.5rem;
    }
  }

  .form__container {
    @include small-tablet {
      padding-bottom: 2rem;
    }
    @include tablet {
      padding: 2rem 2rem;
      margin: 0rem 3rem;
    }
  }

  .comment__profile__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 0.8125rem;
  padding-top: 1.25rem;
  @include desktop {
    padding-left: 4rem;
  }
  h3 {
    padding-top: 1.25rem;
  }
  a {
    font-size: 0.875rem;
  }
  &__header {
    padding-left: 1.25rem;
    padding-bottom: 0rem;
  }
  &__nav {
    padding: 1rem 1.25rem;
    @include tablet {
      display: flex;
    }
  }
  &__nav__container {
    @include tablet {
      display: flex;
    }
  }
  &__logo__container {
    position: absolute;
    right: 0;
  }
  &__logo__top {
    display: none;
    @include tablet {
      display: block;
      padding-top: 1.25rem;
      padding-right: 1.25rem;
    }
  }
  &__nav__link {
    padding-right: 1.25rem;
  }
  &__icon {
    height: 1.875rem;
  }
  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0rem;
    @include wide-phone {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      justify-content: flex-start;
    }
  }
  &__section__container {
    padding: 0rem 1.25rem;
  }
  &__section__para {
    padding: 1rem 0rem;
  }
  &__email {
    color: #ffffff;
    text-decoration: none;
  }
  &__copyright {
    padding-left: 1.25rem;
    padding-bottom: 1.25rem;
  }
  &__logo__bottom {
    @include tablet {
      display: none;
    }
  }
  &__copyright__para {
    font-size: 0.6875rem;
    padding-top: 1.25rem;
    @include midsize-phone {
      font-size: 0.8125rem;
    }
  }
}
