body {
  font-family: "AvenirNext LT Pro";
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.nav__list__link--show {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 6px;
}
@media (min-width: 768px) {
  .nav__list__link--show {
    padding-bottom: 22px;
    margin-bottom: -22px;
  }
}

.nav__list__link--bio {
  border-bottom: none;
}

.shows__hero {
  background-image: url("../Assets/Images/hero-shows.jpg");
  width: 100%;
  background-size: cover;
  background-position: cover;
  height: 60vw;
  position: relative;
}
.shows__hero__hero__header {
  display: flex;
  color: #ffffff;
  position: absolute;
  top: 48%;
  padding-left: 20px;
}
@media (min-width: 550px) {
  .shows__hero {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .shows__hero {
    font-size: 60px;
    padding-left: 40px;
  }
}

.shows__hero__container {
  padding-top: 16px;
}
@media (min-width: 1200px) {
  .shows__hero__container {
    display: flex;
    padding-top: 120px;
  }
}

.soundcloud {
  width: 74%;
  height: 75px;
  position: absolute;
  top: 58%;
  padding-left: 16px;
}
@media (min-width: 467px) {
  .soundcloud {
    top: 44%;
  }
}
@media (min-width: 550px) {
  .soundcloud {
    height: 120px;
  }
}
@media (min-width: 768px) {
  .soundcloud {
    width: 50%;
    height: 130px;
  }
}
@media (min-width: 987px) {
  .soundcloud {
    width: 45%;
    top: 50;
  }
}
@media (min-width: 1200px) {
  .soundcloud {
    position: relative;
    margin-left: 48px;
    margin-top: 36px;
    width: 40%;
  }
}

span {
  font-size: 16px;
  color: #ffffff;
}
@media (min-width: 550px) {
  span {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  span {
    font-size: 24px;
    font-weight: 400;
  }
}

h1 {
  padding-left: 16px;
  font-size: 24px;
  color: #ffffff;
}
@media (min-width: 550px) {
  h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 48px;
  }
}

.shows {
  padding-top: 32px;
  padding-left: 16px;
}
.shows__title {
  font-size: 32px;
}
.shows__container {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 550px) {
  .shows__container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .shows__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 16px;
  }
}

.shows__header {
  font-size: 12px;
  color: #afafaf;
  padding: 4px 0px;
}
@media (min-width: 467px) {
  .shows__header {
    font-size: 14px;
  }
}

.shows p {
  color: #323232;
  padding-bottom: 16px;
}
@media (min-width: 467px) {
  .shows p {
    font-size: 16px;
  }
}

.shows a {
  text-decoration: none;
}

.shows__btn {
  color: #ffffff;
  background-color: #323232;
  border-radius: 4px;
  width: 94%;
  height: 40px;
  font-size: 14px;
}
@media (min-width: 467px) {
  .shows__btn {
    font-size: 16px;
  }
}
@media (min-width: 550px) {
  .shows__btn {
    width: 85%;
  }
}
@media (min-width: 768px) {
  .shows__btn {
    width: 18%;
  }
}

.shows__btn:hover {
  background-color: #000000;
}/*# sourceMappingURL=shows.css.map */